.supermo_page{
    .role{
        height: 120px;
        background: #ffffff;
        line-height: 100px;
        button{
            margin-left: 20px;
            background: #f9c700;
            color: #ffffff;
        }
    }

}